.item-detail-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}


.btn-back{
    position: fixed;
    top: 20px;
    left: 60px;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #0077cc;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit{
    position: fixed;
    top: 20px;
    right: 60px;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #0077cc;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete{
    position: fixed;
    left: 50%;
    bottom: 52px;
    transform: translateX(-50%);
    margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #e20202;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item-img {
    width: 30%;
    margin-right: 24 px;
}

.item-info {
    flex:30%
    
}


